.boxed {
  
  border: 5px solid #9fccfc ;
  border-radius: 50px;
 background-color: #eaf4ff;

  
 
}
.topnav{
    position: fixed;
    top: 50px;
    left: 40px;
    font-family: 'PT Serif', serif;

}
.btn{
    position: fixed;
     top: 100px;
      left: 40px;
     font-family: 'PT Serif', serif;


}
h1{
  text-align: right;
  font-family: 'PT Serif', serif;
  color:#007BFF;
}
h2{
    text-align: right;
    font-family: 'PT Serif', serif;
    color: #1c72ce;

}
h3{
    
    text-align: right;
    position: relative;
    bottom: 50px;
    left: 40px;
    color: #70caf4;
    font-family: 'PT Serif', serif;

    
}
h4{
  text-align: right;  
  position: relative; 
  bottom: 40px;
  right: 0px;
  font-family: 'PT Serif', serif;
 color: #1c72ce;
}
.row{
    font-family: 'PT Serif', serif;
    color: #1c72ce;
     column-count: 5;
      column-gap: 10px;

}
.fa-cloud{
    color: #70caf4;
    position: relative;
    left: 20px;
}

.fa-sun{
  color: #fff207;
   position: relative;
    left: 20px;
}
.days{
    position: relative;
    font-weight: bold;
    color:#007BFF;
}